@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");

body {
  background-color: #131316;
  color: #fff;
  font-family: "Poppins", sans-serif;

  padding: 0;
  margin: 0;
}

section {
  display: grid;
  place-items: center;
  align-content: center;

  min-height: 100vh;
}

.hidden {
  opacity: 0;
  transition: all 1.5s;
  filter: blur(1px);
  transform: translateX(-100%);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
